#DropZone
{
	
	height: 100px;
	text-align: center;
	line-height: 100px;

	border: 2px solid #DDD;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: #FEFFEC;
	text-align: center;
	color: #BBB;
	font-size: 2em;
	font-family: Arial, sans-serif;

}


#TestNames
{
	float: left;

	margin-top: 80px; /* used to space names */

}

.TestResults
{
	float: left;

	border: 2px solid #DDD;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	background-color: gray;

	padding: 3px;

	margin: 5px;
}

.ResultNames
{
	height: 20px;
	line-height: 20px;
	border: 2px solid #DDD;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	background-color: yellow;

	margin: 3px 28px 15px 0px;
	padding: 2px;

	font-size: 20px;
	text-align: center;

}

.Delta
{
	float: right;

	

	border: green solid #DDD;
	-moz-border-radius: 8px;
	-webkit-border-radius: 6px;

	padding-right: 5px;
	padding-left: 5px;
}

.faster
{
	background-color: green;
}

.slower
{
	background-color: red;
}

.failed
{
	background-color: orange;
}

.TimeData
{
	padding-left: 5px;
	padding-right: 10px;
	width: 120px;

}


.Cell
{
	height: 20px;
	line-height: 20px;
	border: 2px solid #DDD;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	background-color: #FEFFEC;

	margin: 5px 0px 5px 0px;
	


}

.DeltaControls
{
	font-size: 10pt;
	color: white;
	text-align: center;

}

.DeltaControls button
{
	font-size: 10pt;
}


.CloseResultButton
{
	margin-top: -10px;
	margin-right: -10px;

	float: right;
	width: 20px;
	height: 20px;
	line-height: 20px;

	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	background-color: #DDDDDD;

	text-align: center;

	border: 2px solid black;

	cursor: pointer;

	font-size: 10pt;
}
